.search-field{
    margin: 20px 0;
}


/* main section */
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.meals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}