.search-field{
    text-align: -webkit-center;
    margin: 20px 0;
}
#combo-box-demo{
}


/* main section */
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.meals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    padding: 0 20px;
}